body{
    font-family: "Ubuntu", sans-serif;
}

#imgProfile{
    width: 25%;
    border: black;
    border-top-left-radius: 70px;
}

#informacion{
    margin: 0;
    padding: 0;
    width: 74%;
    float: right;
    border: solid 2px;
    box-shadow: 5px 10px 10px rgb(80, 79, 79);
}

div h1{
    text-align: left;
    margin-left: 8px;
    margin-bottom: 0;
    color: rgb(243, 147, 2);
    
}

div p{
    font-size: large;
    text-align: justify;
    margin-left: 8px;
    margin-right: 8px;
}

div ul{
    list-style-type: none;
    margin-top: 35px;
    padding-left: 8px;
    font-size: large;
}

div ul li{
    margin: 18px;
}

#dorado{
    margin: 140px;
}

#harry{
    margin: 144px;
}

#ER{
    margin: 40px;
}

#EGG{
    margin: 56px;
}

#CPJ{
    margin: 110px;
}

div ul li a{
    color: orange;
}

div ul li a:visited{
    color: red;
}


header nav ul{
    list-style-type: none;
    text-align: center; 
    background-color: #87b1ef;
    padding: 30px;
    margin: 0;
}

header nav ul li{
    display: inline;
    padding: 13px;
    color: white;

}

#hola_rafael{
    margin-left: 180px;
    margin-right: 180px;
    font-size: 22px;
    border-right: solid;
    border-left: solid;
    padding-top: 40px;
    padding-bottom: 37px;
    padding-left: 120px;
    padding-right: 120px;
}

#ati_ucv{
    font-size: 33px;
    padding-right: 0;
    margin-right: 0;
    padding-left: 50px;
}

#buscar{
    padding-right: 0px;
    margin-right: 0;
    padding-left: 0px;
}

#ucvS{
    font-size: 20px;
}

#boton1{
    padding: 6px;
}

#aText{
    padding: 6px;
}

#D1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#D1 li{
    display: inline-block;
}

.card1{
    background-color: rgb(226, 231, 229);
    padding-left: 34px;
    padding-right: 37px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    text-align: center;
    margin: 25px;
    box-shadow: 5px 10px 10px rgb(80, 79, 79);
    border: solid 1px;
}

.card2{
    background-color: rgb(226, 231, 229);
    padding-left: 35px;
    padding-right: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    text-align: center;
    margin: 25px;
    box-shadow: 5px 10px 10px rgb(80, 79, 79);
    border: solid 1px;
}

.card3{
    background-color: rgb(226, 231, 229);
    padding-left: 30px;
    padding-right: 46px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    text-align: center;
    margin: 25px;
    box-shadow: 5px 10px 10px rgb(80, 79, 79);
    border: solid 1px;
}

.card4{
    background-color: rgb(226, 231, 229);
    padding-left: 30px;
    padding-right: 46px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    text-align: center;
    margin: 25px;
    box-shadow: 5px 10px 10px rgb(80, 79, 79);
    border: solid 1px;
}

footer{
    background-color: #87b1ef;
    padding: 35px;
    text-align: center;
    font-size: 18px;
}

.row li{
    transition: all 0.5s ease;
    transform-origin: center;
}

.row li:hover div{
    transform: scale(1.2) rotate(5deg);
    background-color: #99c5dd;
}

.row li img, .row li div{
    transition: all 0.5s ease;
}

.row li:hover img, .row li:hover{
    transform: scale(1);
}